In [6]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np 
import os
import re
from dateparser.search import search_dates

In [7]:
# Importing environmental variables library that reads from the .env file
from dotenv import load_dotenv

# Loading key-value pairs from the .env file into the OS environment
load_dotenv()

# Reading the key-value pairs from the OS environment
user = os.getenv("DB_USER")
password = os.getenv("DB_PASS")
db_hostname = os.getenv("DB_HOST")
db_name = os.getenv("DB_DATABASE")

# Using those variables in the connection string using "F" strings
conn_string = f"mysql+mysqldb://{user}:{password}@{db_hostname}/{db_name}?charset=utf8mb4"
engine = create_engine(conn_string)

In [8]:
query = "SELECT tableId, rowIndex, status_txt FROM issues WHERE tableId = '3e9e6cdb-f812-4832-b69c-b8ec0396d585';"
with engine.connect() as conn:
    df = pd.read_sql(query, conn)
df

,tableId,rowIndex,status_txt
0,3e9e6cdb-f812-4832-b69c-b8ec0396d585,1,"• <s>June 8, 2016: </s><s>• </s>Good establis..."
1,3e9e6cdb-f812-4832-b69c-b8ec0396d585,2,"• <s>June 8, 2016: </s><s>• </s>Good establish..."
2,3e9e6cdb-f812-4832-b69c-b8ec0396d585,3,"• <s>June 8, 2016: </s><s>• </s>Good establish..."
3,3e9e6cdb-f812-4832-b69c-b8ec0396d585,4,"• <s>June 8, 2016: </s><s>• </s>Good establish..."
4,3e9e6cdb-f812-4832-b69c-b8ec0396d585,5,"• <s>June 8, 2016: </s><s>• </s>Good establish..."
...,...,...,...
90,3e9e6cdb-f812-4832-b69c-b8ec0396d585,91,
91,3e9e6cdb-f812-4832-b69c-b8ec0396d585,92,
92,3e9e6cdb-f812-4832-b69c-b8ec0396d585,93,"• <s>June 24, 2016: </s><s>• </s>Tributary sta..."
93,3e9e6cdb-f812-4832-b69c-b8ec0396d585,94,"• <s>June 24, 2016: </s><s>• </s>Tributary sta..."
94,3e9e6cdb-f812-4832-b69c-b8ec0396d585,95,"• <s>June 24, 2016: </s><s>• </s>Vegetation is..."

In [ ]:
def date_parser_date_count(string):
    ''' Date Finding Function
        Input:  Takes any string as input 
        Output1: Returns the first date identified 
        Output2: Returns the number of dates identified in the string'''
    
    para = search_dates(string, 
                        settings={'STRICT_PARSING': True, 
                                  'DATE_ORDER': 'DMY'})
    date_string = ""
    count = 0
    try:
        for x in para:
            count = count+1
            if date_string == "":
                date_string = x[0]
    except:
        # No date identified or error in finding a date
        "Hello"
        
    return(date_string, count)

line = "July 13, 2016 -- Vegetation is filling in well with desirable species throughout tract."
date_string, date_count  = date_parser_date_count(line)
print(date_string)
print(date_count)